.App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(203, 9, 252, 0.418);
}
